In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv('games.csv')

df

,Unnamed: 0,GAME_ID,TEAM_ID_HOME,TEAM_ID_AWAY,WIN_HOME,SCORE_HOME,SCORE_AWAY,DATE,TURNOVERS_HOME,TURNOVERS_AWAY
0,0,21701072,1610612766,1610612763,1,140,79,2018-03-22,9,19
1,1,21800856,1610612752,1610612755,0,111,126,2019-02-13,12,15
2,2,22100286,1610612760,1610612764,0,99,101,2021-11-26,10,15
3,3,22201040,1610612759,1610612742,0,128,137,2023-03-15,10,19
4,4,21700386,1610612765,1610612738,0,81,91,2017-12-10,10,14
...,...,...,...,...,...,...,...,...,...,...
8284,8284,22200999,1610612764,1610612737,0,107,114,2023-03-10,15,14
8285,8285,22300693,1610612763,1610612744,0,101,121,2024-02-02,14,14
8286,8286,21700459,1610612745,1610612747,0,116,122,2017-12-20,15,10
8287,8287,22000773,1610612748,1610612763,0,112,124,2021-04-06,14,14
8288,8288,21701229,1610612757,1610612762,1,102,93,2018-04-11,10,15

In [32]:
df['DATE'] = pd.to_datetime(df['DATE'])
df = df.sort_values(by='DATE')
df

,Unnamed: 0,GAME_ID,TEAM_ID_HOME,TEAM_ID_AWAY,WIN_HOME,SCORE_HOME,SCORE_AWAY,DATE,TURNOVERS_HOME,TURNOVERS_AWAY
5777,5777,21700001,1610612739,1610612738,1,102,99,2017-10-17,17,12
4216,4216,21700002,1610612744,1610612745,0,121,122,2017-10-17,17,13
8061,8061,21700012,1610612756,1610612757,0,76,124,2017-10-18,16,18
6055,6055,21700006,1610612764,1610612755,1,120,115,2017-10-18,10,17
929,929,21700011,1610612759,1610612750,1,107,99,2017-10-18,11,13
...,...,...,...,...,...,...,...,...,...,...
4016,4016,22301188,1610612754,1610612737,1,157,115,2024-04-14,16,17
4029,4029,22301187,1610612739,1610612766,0,110,120,2024-04-14,14,10
6626,6626,22301196,1610612760,1610612742,1,135,86,2024-04-14,15,15
937,937,22301195,1610612740,1610612747,0,108,124,2024-04-14,19,15
1810,1810,22301200,1610612758,1610612757,1,121,82,2024-04-14,14,18

,TEAM_ID_HOME,TEAM_ID_AWAY,WIN_HOME,SCORE_HOME,SCORE_AWAY,DATE,TURNOVERS_HOME,TURNOVERS_AWAY
5777,1610612739,1610612738,1,102,99,2017-10-17,17,12
4216,1610612744,1610612745,0,121,122,2017-10-17,17,13
8061,1610612756,1610612757,0,76,124,2017-10-18,16,18
6055,1610612764,1610612755,1,120,115,2017-10-18,10,17
929,1610612759,1610612750,1,107,99,2017-10-18,11,13
...,...,...,...,...,...,...,...,...
4016,1610612754,1610612737,1,157,115,2024-04-14,16,17
4029,1610612739,1610612766,0,110,120,2024-04-14,14,10
6626,1610612760,1610612742,1,135,86,2024-04-14,15,15
937,1610612740,1610612747,0,108,124,2024-04-14,19,15
1810,1610612758,1610612757,1,121,82,2024-04-14,14,18